* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "color canvas"
        "tool canvas"
        "options canvas";
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.title {
    grid-area: header;
    grid-column-start: 1;
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.side-bar-container {
    grid-row-start: color;
    grid-row-end: options;
    grid-column-start: color;
    grid-column-end: color;
}

.color-edit {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.color-edit ul {
    padding: 10px;
}
.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.red { background-color: red;}
.green{ background-color: green;}
.yellow{ background-color: yellow;}
.blue{ background-color: blue;}
.white{ background-color: white;}
.black{ background-color: black;}

.opacity-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.options {
    display: flex;
    flex-direction: column;
}
.button-container {
    border-radius: 10%;
    text-align: center;
}
.button-container button {
    height: 50px;
    width: 100%;
    transition: 0.5s;
}
.clear {
    background-color: red;
    color: white;
    border: 2px solid red;

}
.clear:hover {
    color: red;
    background-color: white;
}
.download {
    background-color: black;
    color: white;
    border: 2px solid black;
}
.download:hover {
    color: black;
    background-color: white;
}

